h1{
  font-style: italic;
  text-align: center;
  font-size: 50px;
  margin-top: 5px;
}

.container{
  background-color: aqua;
  color: black;
  width: 500px;
  
 
}

#addressbook{
  padding-top: 30px;
  margin-right: 170px;
  
}
#disp{
  display: flex;
  /* justify-content: space-between; */
}
.card{
  background-color: darkblue;
  color: antiquewhite;
}